includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
	level: 9
	paths:
		- src
		- tests
	ignoreErrors:
		- identifier: missingType.generics
		- identifier: missingType.iterableValue
		-
			identifier: argument.type
			count: 1
			path: tests/object-manager.php
		-
			identifier: argument.type
			count: 4
			path: src/Utils/MathUtils.php
		-
			identifier: argument.type
			count: 2
			path: src/Import/ImportBankrollCommand.php
	parallel:
		maximumNumberOfProcesses: 1
	symfony:
	    containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
	doctrine:
		objectManagerLoader: tests/object-manager.php