{% extends 'base.html.twig' %}

{% block title %}Bankroll{% endblock %}

{% block body %}
    <div class="container p-4">
        <div class="d-flex align-items-center">
            <h1>{{ bankroll.name }}</h1>
            <div class="ms-auto"></div>
        </div>
    </div>
{% endblock %}
