{% extends 'layout.html.twig' %}

{% block body %}
    <div class="d-flex flex-column align-items-center justify-content-center vh-100">
        <h1 class="h1 text-center">Welcome to Be2tracker !</h1>
    </div>
{% endblock %}
